.map_container {
  display: flex;
}

.left_side {
  flex: 2;
  padding: 10px;
}

.right_side {
  flex: 1;
  padding: 10px;
  height: 960px;
  overflow-y: scroll;
}

.post {
  /* flex: 2; */
  width: 100%;
}

.post_item_title {
  padding: 1rem;
  margin-bottom: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post_item_title h4 {
  margin: 0;
}
